* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans serief;
  font-size: 16px;
  line-height: 1.42;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

a {
  text-decoration: none;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  padding: 30px 0px;
}

.container {
  max-width: 865px;
  padding: 0 5px;
  margin: 0 auto;
}

.header__container {
  max-width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header__burger {
  width: 30px;
  height: 20px;
  display: none;
  align-items: center;
  margin-right: 18px;
}

.header__burger-el {
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: relative;
}

.header__burger-el::before,
.header__burger-el::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #21243d;
  position: absolute;
}

.header__burger-el::before {
  top: -9px;
}

.header__burger-el::after {
  bottom: -9px;
}

@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }
  .nav {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}

.about__container {
  display: flex;
  margin: 100px auto;
}

.about__info {
  padding-right: 13.5%;
}

.about__desc {
  margin: 40px 0px;
}

.button {
  background-color: #d44d4d;
  border: none;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

.about__avatar {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-posts {
  background-color: #edf7fa;
  padding: 27px 0px 32px;
}

.recent-posts__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.recent-posts__link {
  color: #00ffff;
}

.recent-posts__articles {
  display: flex;
}

.recent-posts__article {
  background: #ffffff;
  box-shadow: 0px 4px 10px #bbe1fa40;
  border-radius: 4px;
  width: 49%;
  margin-right: 2%;
  padding: 24px 21px 28px 23px;
}

.recent-posts__article:last-child {
  margin-right: 0;
}

.recent-posts__info {
  margin-right: 1px solid #000000;
}

.recent-posts__subtitle {
  font-size: 32px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.recent-posts__info {
  margin: 17px;
}

.recent-posts__separater {
  margin-right: 26px;
  margin-left: 26px;
  margin: 17px;
}

.featured {
  padding-top: 32px;
}

.work {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 30px;
}

.work__img-wrap {
  flex-shrink: 0;
  overflow: hidden;
  max-height: 180px;
  max-width: 246px;
  border-radius: 6px;
}

.work__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.work__top {
  margin-left: 20px;
}

.work__info {
  font-weight: bold;
  font-size: 30px;
  color: #21243D;
}

.subtitle {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work__date {
  margin-right: 26px;
  background-color: #000000d7;
  border-radius: 31px;
  color: white;
}

.work__category {
  color: #8695A4;

}

.footer {
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
}

.social__item {
  height: 50px;
  width: 30px;
  margin-right: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social__link {
  display: block;
  font-size: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.social_fb {
  background-image: url(../img/fb.png);
}

.social_insta {
  background-image: url(../img/insta.png);
}

.social_twitter {
  background-image: url(../img/Vector.png);

}

.social_in {
  background-image: url(../img/Linkedin.png);
}

.social__title {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
}
